
.component[data-component="chat/output"] {
	background: white;
	font-size: 14px;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;

	.chat-row {
		overflow: hidden;
		line-height: 16px;
		border-top: 1px solid #f6f6f6;

		.timestamp {
			text-align: center;
			color: #999;
			float: right;
			width: 60px;
			font-size: 0.8em;
		}

		.timestamp-aligned {
			margin-left: 7px;
		}

		@include desktop {
			.timestamp {
				float: left;
			}

			.timestamp-aligned {
				margin-left: 62px;
			}
		}

		&.system-message {
			.timestamp-aligned {
				color: #BBB;
				font-size: 0.8em;
				font-style: italic;
			}

			.nick:hover {
				text-decoration: underline;
			}
		}

		&[data-type="joinLeave"] {
			padding-top: 3px;
			padding-bottom: 3px;
			font-weight: 400;
		}

		&[data-type="privmsg"] {
			background: #fdfdfd;
			padding-top: 6px;
			padding-bottom: 2px;

			.timestamp {
				line-height: 1.6em;
			}

			.timestamp-aligned {
				margin-bottom: 0px;
				margin-left: 16px;
			}

			.timestamp-aligned + .timestamp-aligned {
				margin-bottom: 4px;
			}

			.nick {
				font-weight: bold;
				font-size: 0.9em;
				display: inline-block;
				margin-bottom: 4px;
				margin-left: -8px;
			}

			@include desktop {
				.timestamp-aligned {
					margin-left: 70px;
				}

				.nick {
					margin-left: -8px;
				}
			}
		}

		.message {
			// margin-left: 10px;
		}
	}


}
