<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		{{#block "head"}}
		<title>{{title}}</title>
		<!--[if lt IE 9]><script src="/vendor/html5shiv/dist/html5shiv.js"></script></script><script src="/vendor/es5-shim/es5-shim.min.js"></script><![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{rev '/build/main.css'}}" />
		{{/block}}
	</head>
	<body>
		
		{{#block "body"}}{{/block}}

		{{#block "end"}}<script src="{{rev '/build/main.js'}}"></script>{{/block}}
	</body>
</html>
