html {
	min-width: 100%;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

h1,h2,h3,h4 {
	// margin-top: 0;
	font-weight: 300;
}

pre {
	box-shadow: 0 1px 2px rgba(100,100,100,0.2);
	background-color: #f8f8f8;
	border-color: #ddd;
}

pre code {
	font-size: 12px;
	line-height: 11px;
	word-wrap: normal;
	white-space: pre;
}

blockquote {
	background-color: #f8f8f8;
	box-shadow: 0 1px 2px rgba(100,100,100,0.2);
}

a {
	cursor: pointer;
}